USE [School]
GO
/****** Object:  Table [dbo].[advisor]    Script Date: 09/05/2021 10:15:57 ንጉሆ ሰዓተ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[advisor](
	[s_ID] [varchar](5) NOT NULL,
	[i_ID] [varchar](5) NULL,
PRIMARY KEY CLUSTERED 
(
	[s_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[advisor]  WITH CHECK ADD FOREIGN KEY([i_ID])
REFERENCES [dbo].[instructor] ([ID])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[advisor]  WITH CHECK ADD FOREIGN KEY([s_ID])
REFERENCES [dbo].[student] ([ID])
ON DELETE CASCADE
GO
